extends layout

block content
  h1= title
  p#subtitle
    Strong Présentation :
  p
    | Pong&nbsp;(stylis&eacute;&nbsp;PONG) est un des premiers&nbsp;jeux vid&eacute;o&nbsp;d&apos;arcade&nbsp;et le premier jeu vid&eacute;o d&apos;arcade de&nbsp;sport. Il a &eacute;t&eacute; imagin&eacute; par l&apos;Am&eacute;ricain&nbsp;Nolan Bushnell&nbsp;et d&eacute;velopp&eacute; par&nbsp;Allan Alcorn, et la soci&eacute;t&eacute;&nbsp;Atari&nbsp;le commercialise &agrave; partir de novembre&nbsp;1972. Bien que d&apos;autres jeux vid&eacute;o aient &eacute;t&eacute; invent&eacute;s pr&eacute;c&eacute;demment, comme&nbsp;Computer Space,&nbsp;Pong&nbsp;est le premier &agrave; devenir populaire.
  p
    | Le jeu est inspir&eacute; du&nbsp;tennis de table&nbsp;en vue de dessus, et chaque joueur s&apos;affronte en d&eacute;pla&ccedil;ant la raquette virtuelle de haut en bas, via un bouton rotatif, de fa&ccedil;on &agrave; garder la balle dans le terrain de jeu. Le joueur peut changer la direction de la balle en fonction de l&apos;endroit o&ugrave; celle-ci tape sur la raquette, alors que sa vitesse augmente graduellement au cours de la manche. Un score est affich&eacute; pour la partie en cours et des bruitages accompagnent la frappe de la balle sur les raquettes.
  p
    | Pong&nbsp;est &agrave; l&apos;origine un exercice demand&eacute; par Bushnell &agrave; Alcorn en guise d&apos;entra&icirc;nement. Une version similaire a &eacute;t&eacute; cr&eacute;&eacute;e pr&eacute;c&eacute;demment par&nbsp;Ralph Baer&nbsp;pour la console de jeu&nbsp;Odyssey&nbsp;de&nbsp;Magnavox, mais son existence reste peu connue. Surpris par la qualit&eacute; du r&eacute;sultat, Bushnell et&nbsp;Ted Dabney, fondateurs d&apos;Atari, d&eacute;cident de commercialiser le jeu d&egrave;s 1972. La copie du concept entra&icirc;ne d&apos;ailleurs une poursuite en justice de Magnavox contre Atari pour violation de brevet en&nbsp;1976.
  p
    | Mise sur le march&eacute; fin 1972, la&nbsp;borne d&apos;arcade&nbsp;est un succ&egrave;s&nbsp;: elle est vendue &agrave; pr&egrave;s de 8&nbsp;000&nbsp;exemplaires l&apos;ann&eacute;e suivante et engrange jusqu&apos;&agrave; 40&nbsp;millions de dollars de chiffres d&apos;affaires en 1975, d&eacute;passant toutes les pr&eacute;dictions de Bushnell et Dabney. Ce succ&egrave;s incite de nombreuses soci&eacute;t&eacute;s &agrave; se lancer dans le jeu vid&eacute;o en copiant le concept, notamment sur console de salon. &Agrave; la suite des bons chiffres de la borne d&apos;arcade et de l&apos;engouement g&eacute;n&eacute;r&eacute; par les concurrents pour le jeu de salon,&nbsp;Pong&nbsp;est port&eacute; sur une&nbsp;console de salon d&eacute;di&eacute;e, sous le nom&nbsp;Home Pong&nbsp;&agrave; partir de&nbsp;1975, commercialis&eacute;e par&nbsp;Sears&nbsp;puis directement par Atari un an apr&egrave;s. Ce double succ&egrave;s est consid&eacute;r&eacute; comme l&apos;&eacute;v&egrave;nement pr&eacute;curseur de l&apos;industrie du jeu vid&eacute;o, avec une forte augmentation de l&apos;offre, des centaines de consoles de salon reprenant le concept.
  p 
    | (cf : Wikipédia)
    
  p#subtitle
    Strong Navigation : 
  p 
    |  - La page concernant les informations sur le projet : 
    a(href='about') About
  p 
    |  - La page concernant les règles : 
    a(href='rules') Rules
  p 
    |  - La page pour jouer : 
    a(href='play') Play

