extends layout

block content
  p#player 
  script(type='module' src='/scripts/bundle.js')
  script(src='/socket.io/socket.io.js')
  canvas#field(width='800' height='600' tabindex='1' background-color= "#096a09")
  